@page
@model Pumpkin.Beer.Taste.Pages.ScorePages.IndexModel
@{
    ViewData["Title"] = "Scores for " + Model.Blind.Name;
}

<h1>Scores</h1>

<div class="card mb-2">
    <div class="card-body">
        <h3 class="card-title">@Model.Blind.Name</h3>
        @if (Model.Blind.Closed != null)
        {
            <span>Closed @Model.Blind.Closed?.ToLocalTime().Humanize()</span>
            // TODO: Closes soon! Warning?
        }
        else
        {
            // Never ends...
        }
    </div>
</div>

@if (!Model.BlindItemScores.Any())
{
    <h4 class="text-danger">No votes were recorded for this tasting.</h4>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <ul class="list-unstyled">
                @for (int i = 0; i < Model.BlindItemScores.Count; i++)
                {
                    var score = Model.BlindItemScores[i];
                    var publicVotes = score.Votes.Where(x => x.Public == true);
                    <li class="ml-2">
                        <div class="card mb-2">
                            <div class="card-body">
                                <h3 class="card-title text-success">@score.BlindItem.Letter: @score.BlindItem.Name</h3>
                                <h4><b>Average Score:</b> @score.AverageScore - @score.AmountOfVotes votes</h4>
                                @if (publicVotes.Any())
                                {
                                    <h5 class="mt-2">Public Votes:</h5>
                                    <ul class="list-unstyled">
                                        @foreach (var vote in publicVotes)
                                        {
                                            <li class="ms-2">
                                                <label><b>Score:</b> @vote.Score</label>
                                                <br />
                                                <label><b>Note:</b> @vote.Note</label>
                                                <br />
                                                <label>- @vote.CreatedByUserDisplayName</label>
                                            </li>
                                            <hr />
                                        }
                                    </ul>
                                }
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
}
