@page
@model Pumpkin.Beer.Taste.Pages.ScorePages.IndexModel
@{
    ViewData["Title"] = "Scores for " + Model.Blind.Name;
}

<page-heading heading="Scores" />

@if (!Model.Blind.BlindItemScores.Any())
{
    <h4 class="text-danger">No votes were recorded for this tasting.</h4>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <ul class="list-unstyled">
                @for (int i = 0; i < Model.Blind.BlindItemScores.Count; i++)
                {
                    var score = Model.Blind.BlindItemScores[i];
                    var publicVotes = score.BlindItem.Votes.Where(x => x.Public == true);
                    <li class="mb-3">
                        <div class="card border-primary">
                            <div class="card-header">
                                @score.BlindItem.Letter: @score.BlindItem.Name
                            </div>
                            <div class="card-body">
                                <h4 class="card-subtitle mb-2 text-muted"><b>Average Score:</b> @score.AverageScore (@score.AmountOfVotes votes)</h4>
                                @if (publicVotes.Any())
                                {
                                    <h5 class="mt-3">Public Votes:</h5>
                                    <ul class="list-unstyled">
                                        @foreach (var vote in publicVotes)
                                        {
                                            <li class="mb-2">
                                                <label><b>Score:</b> @vote.Score</label>
                                                <br />
                                                <label><b>Note:</b> @vote.Note</label>
                                                <br />
                                                <label>- @vote.CreatedByUserDisplayName</label>
                                            </li>
                                        }
                                    </ul>
                                }
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
}
