@page
@model Pumpkin.Beer.Taste.Pages.ScorePages.IndexModel
@{
    ViewData["Title"] = "Scores for " + Model.Blind.Name;
}

<h1>Scores</h1>
<h2>@Model.Blind.Name</h2>
<hr />

<div class="row">
    <div class="col-md-12">

        <ul class="list-unstyled">
            @for (int i = 0; i < Model.BlindItemScore.Count; i++)
            {
                var score = Model.BlindItemScore[i];
                <li class="ml-2">
                    <h3 title="@score.AmountOfVotes people voted for an average of @(score.TotalScore / score.AmountOfVotes)">
                        <strong class="text-success"> @score.TotalScore</strong> - <strong>@score.BlindItem.Letter:</strong> @score.BlindItem.Name
                        @if (i == 0)
                        {
                            <span style="font-size:100px">🎉</span>
                        }
                    </h3>
                    <ul class="list-unstyled">
                        @foreach (var note in score.Notes.Where(x => !string.IsNullOrEmpty(x)))
                        {
                            <li>
                                @note
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>

    </div>
</div>