@page
@model Pumpkin.Beer.Taste.Pages.BlindPages.IndexModel

@{
    ViewData["Title"] = "All Blinds";
}

<div class="card my-2">
    <div class="card-body">
        <h3 class="card-title">My Tastings</h3>
        <a asp-page="Create">Create New</a>
    </div>
</div>

@if (Model.Blinds?.Any() ?? false)
{
    @foreach (var item in Model.Blinds)
    {
        <div class="card mb-2">
            <div class="card-body">
                <h3 class="card-title">
                    @if (!item.IsOpen)
                    {
                        <a asp-area="" asp-page="/Scores/Index" asp-route-id="@item.Id">Name: @Html.DisplayFor(modelItem => item.Name)</a>
                    } else
                    {
                        <span>Name: @Html.DisplayFor(modelItem => item.Name)</span>
                    }
                </h3>
                <h4 class="card-subtitle">Invite Code: <span class="text-warning">@Html.DisplayFor(modelItem => item.InviteCode)</span></h4>
                <h5>Starts: <span title="@item.Started?.ToLocalTime().ToString()">@item.Started?.ToLocalTime().Humanize()</span></h5>
                <h5>Closes: <span title="@item.Closed?.ToLocalTime().ToString()">@item.Closed?.ToLocalTime().Humanize()</span></h5>
                <h5>Members: <span>@item.NumMembers</span></h5>
                <div>
                    @if (!item.HasVotes)
                    {
                        <span>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> |
                            @* TODO: hide close button if close date is past *@
                            <a asp-page="./Close" asp-route-id="@item.Id">Close</a>
                            @*<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |*@
                        </span>
                    }
                    else
                    {
                        <span><strong class="teblindt-warning">Edit Disabled</strong> (people have already started voting!)</span>
                        <a asp-page="./Close" asp-route-id="@item.Id">Close</a>
                    }
                </div>
            </div>
        </div>
    }
}
