@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <div class="card my-2">
        <div class="card-body">
            <h1 class="display-4 text-warning">Happy Halloween! 👻 🎃</h1>
            @if (!User.Identity?.IsAuthenticated ?? false)
            {
                <p>
                    <a class="text-warning" asp-area="" asp-page="/Account/Login">Login/Register</a> to get started!
                </p>
            }
        </div>
    </div>
</div>

@if (User.Identity?.IsAuthenticated ?? false)
{
    <div class="row">
        <div class="col-md-12 mb-2">
            <div class="card">
                <div class="card-body">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <h3 class="card-title pb-2">Join a Tasting</h3>
                    <h6 class="card-subtitle pb-2">Enter an invite code to join an existing tasting.</h6>
                    <form method="post">
                        <div class="mb-3">
                            <label asp-for="InviteCode" class="control-label"></label>
                            <input asp-for="InviteCode" class="form-control" />
                            <span asp-validation-for="InviteCode" class="text-danger"></span>
                        </div>
                        <div class="d-grid gap-2">  
                            <input type="submit" value="Join!" class="btn btn-success" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6 mb-2">

            <h3>Open Tastings</h3>

            @if (!Model.Blinds.Any())
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title pb-2">There are no open tastings at this time.</h5>
                        <div class="d-grid gap-2">
                            <a asp-area="" asp-page="/ManageBlind/Create" class="btn btn-warning">Create One!</a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <ul class="list-unstyled">
                    @foreach (var blind in Model.Blinds)
                    {
                        <li>
                            <div class="card mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">@blind.Name</h5>
                                    <p class="card-teblindt">Closes @blind.Closed?.ToLocalTime().Humanize()!</p>
                                    @* TODO: edit button if owner *@
                                    <div class="d-grid gap-2">
                                        <a asp-area="" asp-page="/Vote/Index" asp-route-id="@blind.Id" class="btn btn-warning">Start Tasting!</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            }

        </div>

        <div class="col-md-6">

            <h3>Closed Tastings</h3>

            @if (!Model.ClosedBlinds.Any())
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-subtitle pb-2">You have no closed tastings yet.</h5>
                    </div>
                </div>
            }
            else
            {
                <ul class="list-unstyled">
                    @foreach (var blind in Model.ClosedBlinds)
                    {
                        <li>
                            <div class="card mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">@blind.Name</h5>
                                    <p class="card-teblindt">@blind.Started?.ToString("dddd, dd MMMM yyyy")</p>
                                    <div class="d-grid gap-2">
                                        <a asp-area="" asp-page="/Scores/Index" asp-route-id="@blind.Id" class="btn btn-warning">See Scores</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
}
