@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
@inject SignInManager<IdentityUser> SignInManager

<div class="text-center">
    <h1 class="display-4 text-warning">Happy Halloween! 👻 🎃</h1>
    @if (!SignInManager.IsSignedIn(User))
    {
        <p>
            Click <a asp-area="Identity" asp-page="/Account/Register">Register</a> in the upper-right or
            <a asp-area="Identity" asp-page="/Account/Login">Login</a> to get started!
        </p>
    }
</div>

@if (SignInManager.IsSignedIn(User))
{
    <hr />

    <div class="row">
        <div class="col-md-6">
            <h3>Open Tastings:</h3>

            <hr />

            @if (!Model.Blinds.Any())
            {
                <h4>There are no open tastings at this time.</h4>
            }

            <ul class="list-unstyled">
                @foreach (var blind in Model.Blinds)
                {
                    <li>
                        <h1>
                            <a asp-area="" asp-page="/Vote/Index" asp-route-id="@blind.Id" class="btn btn-lg btn-success btn-block">@blind.Name</a>
                        </h1>
                        <small class="utc-local-from-now" data-date="@blind.Started.Value.ToLocalTime()">Loading...</small>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Closed Tastings:</h3>

            <hr />

            @if (!Model.ClosedBlinds?.Any() ?? false)
            {
                <h4>There are no closed tastings at this time.</h4>
            }

            <ul class="list-unstyled">
                @foreach (var blind in Model.ClosedBlinds)
                {
                    <li>
                        <h1>
                            <a asp-area="" asp-page="/Scores/Index" asp-route-id="@blind.Id" class="btn btn-lg btn-info btn-block">@blind.Name</a>
                        </h1>
                        <small class="utc-local-from-now" data-date="@blind.Closed.Value">Loading...</small>
                    </li>
                }
            </ul>
        </div>
    </div>
}
